body {
    background-color: rgb(229, 228, 238) !important;
}
#cadastro{
    padding-top: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
#btnCadastro {
    text-align: center;
    padding-bottom: 1%;
}

main{
    background-color: rgb(56, 56, 56);
    text-align: left;
    padding-left: 1%;
    margin-top: 2%;
    margin-right: 25%;
    margin-bottom: 2%;
    margin-left: 25%;
    border-radius: 2%;
    color: white;
    box-shadow: 0px 0px 20px 5px rgba(136, 136, 136, 0.514);
    font-family: Arial, Helvetica, sans-serif
} 
label,input {
    margin-bottom: 1.5%;
}
.classInput {
    width: 60%;
	margin: 0 auto;
	padding: 5px;
	border: none;
	margin-bottom: 10px;
	border-radius: 50px;
    background-color: rgb(229, 228, 238);
}
.classInputSmall {
    width: 30%;
	margin: 0 auto;
	padding: 5px;
	border: none;
	margin-bottom: 10px;
	border-radius: 50px;
    background-color: rgb(229, 228, 238);
}